.full-height-container {
  height: 100vh;
  overflow: hidden;
}

.slider-size {
  height: 100vh;
}

h3 {
  color: white;
  font-size: 48px;
}

p {
  color: white;
  font-size: 24px;
}

.custom-height {
  height: 40%;
}
