<div class="full-height-container">
  <c-carousel [wrap]="false" class="slider-size">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      @for(slide of slides; track slide.id) {
        <c-carousel-item>
          <img
            class="img-opacity"
            [src]="isSmallScreen() ? slide.imageSmall : slide.imageLarge"
            alt="{{slide.title}}"
            loading="lazy"
          />
          <c-carousel-caption class="d-none d-md-block text-start custom-height">
            <button type="button" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top">
              {{slide.category}}
            </button>
            <h3>{{slide.title}}</h3>
            <div class="d-flex flex-md-column">
              <p class="me-2">{{getDateService().formatCreatedAt(slide.createdAt)}}</p>
              <p>{{slide.description}}</p>
            </div>
            <button type="button" class="btn btn-primary" [routerLink]="['/post-page', slide.id]">
              Ler o post
            </button>
          </c-carousel-caption>
        </c-carousel-item>
      }
    </c-carousel-inner>
  </c-carousel>
</div>
