ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 24px;
  padding-left: 0;
}

.list-topics {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin-right: 16px;
  font-size: 14px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.active {
  color: orange;
}

.card-container {
  border: 0;
}

.card-box {
  margin-top: 8px;
}

/* .card-img {
  width: 312px;
  height: 208px;
} */

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  max-height: 3em;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.button-text {
  font-size: 12px;
}

.card-link {
  text-decoration: none;
  cursor: pointer;
}
