ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 24px;
  padding-left: 0;
}

.list-topics {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin-right: 16px;
  font-size: 14px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

a {
  cursor: pointer;
}

.active {
  color: orange;
}

.card-container {
  border: 0;
}

.tag {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  margin: 4px;
}

.button-text {
  font-size: 12px;
}
