<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card card-container">
      <img src="../../assets/img/angular.jpg" class="card-img" alt="...">
      <div class="card-img-overlay tag">
        <button type="button" class="btn btn-outline-light button-text">Angular</button>
      </div>
      <div class="card-body">
        <p>30/12/2023</p>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-container">
      <img src="../../assets/img/angular.jpg" class="card-img" alt="...">
      <div class="card-img-overlay tag">
        <button type="button" class="btn btn-outline-light button-text">Angular</button>
      </div>
      <div class="card-body">
        <p>30/12/2023</p>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-container">
      <img src="../../assets/img/angular.jpg" class="card-img" alt="...">
      <div class="card-img-overlay tag">
        <button type="button" class="btn btn-outline-light button-text">Angular</button>
      </div>
      <div class="card-body">
        <p>30/12/2023</p>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-container">
      <img src="../../assets/img/angular.jpg" class="card-img" alt="...">
      <div class="card-img-overlay tag">
        <button type="button" class="btn btn-outline-light button-text">Angular</button>
      </div>
      <div class="card-body">
        <p>30/12/2023</p>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-container">
      <img src="../../assets/img/angular.jpg" class="card-img" alt="...">
      <div class="card-img-overlay tag">
        <button type="button" class="btn btn-outline-light button-text">Angular</button>
      </div>
      <div class="card-body">
        <p>30/12/2023</p>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>
