<h1>Popular topics</h1>
  <ul>
    <div class="list-topics">
      <li [class.active]="activeCategory === 'Todas'">
        <a (click)="filterByCategory('Todas')">Todas</a>
      </li>
      <li *ngFor="let category of uniqueCategories()" [class.active]="activeCategory === category">
        <a (click)="filterByCategory(category)">{{category}}</a>
      </li>
    </div>
  </ul>
<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col" *ngFor="let card of cards">
    <div class="card card-container">
      <img
        [src]="card.imageSmall"
        class="card-img"
        alt={{card.title}}
        loading="lazy"
      />
      <div class="tag">
        <div>{{getDateService().formatCreatedAt(card.createdAt)}}</div>
        <button type="button" class="btn btn-light button-text">{{card.category}}</button>
      </div>
      <div class="card-box">
        <h5 class="card-title">{{card.title}}</h5>
        <p class="card-text">{{card.description}}</p>
        <a class="card-link" [routerLink]="['/post-page', card.id]">Leia mais</a>
      </div>
    </div>
  </div>
</div>
