<section class="container d-flex flex-column align-items-center justify-content-center">
  <h1 class="mb-5">Sobre mim</h1>

  <div class="content">
    <h4>Essa interface foi feita por Rafael de Freitas Guilherme</h4>
    <p>Eu sou um desenvolvedor web,
      atuo como freelancer desde dezembro/2022.
      Sempre prezando por fazer um bom trabalho e entregando o melhor dentro dos prazos, metas e objetivos esperados.
      Caso queira entrar em contato, pode escolher a melhor forma para você abaixo.
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-center mb-5">
    <button class="btn btn-light">
      <a href="mailto:rafael_guilherme@hotmail.com">E-mail</a>
    </button>
    <button class="btn btn-light mx-4">
      <a href="#">Whatsapp</a>
    </button>
    <button class="btn btn-light">
      <a href="#">Portfólio</a>
    </button>
  </div>
</section>
<section class="fixed-bottom">
  <app-footer></app-footer>
</section>
