<div class="col-12">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" routerLink="home">
        <b class="text-white HOME">
          <b class="HOME">
            my
          </b>
        </b>
        <span><b class="text-primary">Blog</b></span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mb-lg-0 ms">
          <li class="nav-item">
            <a class="nav-link ms-3 text-white" ariaCurrentWhenActive="page" routerLink="/" routerLinkActive="active" >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3 text-white" ariaCurrentWhenActive="page" routerLink="/post-page" routerLinkActive="active" >
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3 text-white" ariaCurrentWhenActive="page" routerLink="/about" routerLinkActive="active" >
              About
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
