<div class="col-12">
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" routerLink="/">
        <b class="text-white">
          <b class="fs-2">
            My
          </b>
        </b>
        <span><b class="text-primary fs-2">Blog</b></span>
      </a>

      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div>
        <ul class="d-flex align-items-center justify-content-around">
          <li class="nav-item">
            <a class="nav-link text-white" [ngClass]="{'active': isLinkActive('/')}" ariaCurrentWhenActive="page" routerLink="/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-4" [ngClass]="{'active': isLinkActive('/posts')}" ariaCurrentWhenActive="page" routerLink="/posts">
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [ngClass]="{'active': isLinkActive('/about')}" ariaCurrentWhenActive="page" routerLink="/about">
              Sobre
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
