nav {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 16px;
  transition: background-color 0.3s;

  @media (max-width: 991px) {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px;
  }
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid orange;
}
