<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" routerLink="home">
          <b class="text-white HOME ms-5">
            <b class="HOME">
              my
            </b>
          </b>
          <span><b class="text-primary">Blog</b></span>
        </a>
        <ul class="navbar-nav mb-lg-0 ms">
          <li class="nav-item">
            <a class="nav-link active ms-3 text-white Active" aria-current="page" routerLink="home">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3 text-white Active" aria-current="page" routerLink="post-page">
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3 text-white Active" aria-current="page" routerLink="about">
              About
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <app-carousel></app-carousel>
  </main>
  <section class="content">
    <app-home></app-home>
  </section>
</div>

<router-outlet></router-outlet>
