<section class="container">
  <h2>
    Editor's Pick
  </h2>
  <div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col" *ngFor="let post of posts">
      <div class="card card-container">
        <img [src]="post.imageSmall" class="card-img" alt={{post.title}}>
        <div class="card-img-overlay">
          <div class="tag">
            <button type="button" class="btn btn-light button-text">{{post.category}}</button>
          </div>
          <div class="card-body">
            <p class="card-date">{{getDateService().formatCreatedAt(post.createdAt)}}</p>
            <h5 class="card-title">{{post.title}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
