<section class="container ">
  <h1>Popular topics</h1>
  <div>
    <ul>
      <div class="list-topics">
        <li class="active">
          <a>All</a>
        </li>
        <li>
          <a>Adventure</a>
        </li>
        <li>
          <a>Travel</a>
        </li>
        <li>
          <a>Fashion</a>
        </li>
        <li>
          <a>Technology</a>
        </li>
        <li>
          <a>Branding</a>
        </li>
      </div>
      <li>
        <a>View all</a>
      </li>
    </ul>
    <app-card></app-card>
  </div>
</section>
