<div class="row">
  <main>
    <app-carousel></app-carousel>
  </main>
</div>
<section class="container">
  <app-card></app-card>
</section>
<section class="img-container">
  <div>
    <button type="button" class="btn btn-outline-light button-text">Angular</button>
  </div>
  <div>
    <h2 class="img-title">Card title</h2>
    <p class="img-description">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <p class="img-data">30.12.2023</p>
  </div>
</section>
<app-favorites></app-favorites>
<app-footer></app-footer>
