section {
  margin-top: 96px;
  margin-bottom: 96px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 24px;
  padding-left: 0;
}

.list-topics {
  display: flex;
}

li {
  list-style: none;
  margin-right: 16px;
  font-size: 14px;
  font-weight: bold;
}

a {
  cursor: pointer;
}

.active {
  color: orange;
}
